@font-face {

}

*{
    box-sizing: border-box;
}

.spacer-sm{
    height: 20px;
}

.spacer-md{
    height: 40px;
}

.spacer-lg{
    height: 60px;
}

/* Lines of the Toggler */
.toggler-icon {
    width: 32px;
    height: 4px;
    border-radius: 5px;
    background-color: #402E32;
    display: block;
    transition: all 0.25s ease-in-out ;
}

/* Adds Space between the lines */
.middle-bar {
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-405deg);
    transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color:#402E32;
}
/* nav toggler end */

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus
{
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
}

.navbar-nav{
    transform: translateX(25px);
}
.hero-img{

}

.hero-text{    
    top: 50%!important;
}

.hero-text h1{
    letter-spacing: 2px;
}

.overallCard img{
    object-fit: cover;
    overflow: hidden;
}

.history img{
    width: 90% !important;
}

#owl-one .owl-nav{
    position: relative;
    bottom: 690px;
}

#owl-one .owl-nav .owl-prev{
    font-weight: bolder;
}

#owl-one .owl-nav .owl-next{
    position: absolute;
    right: 0px;
    font-weight: bolder;
}

#owl-one .owl-nav .owl-prev:hover{
    transform: scale(1.2) translateX(5px);
    transition: 250ms ease;
}

#owl-one .owl-nav .owl-next:hover{
    transform: scale(1.2) translateX(-5px);
    transition: 250ms ease;
}

#owl-two .owl-nav{
    display: block!important;
    position: relative;
    bottom: 420px;
}

#owl-two .owl-nav .owl-prev{
    font-weight: bolder;
}

#owl-two .owl-nav .owl-next{
    position: absolute;
    right: 0px;
    font-weight: bolder;
}

#owl-two .owl-nav .owl-prev:hover{
    transform: scale(1.2) translateX(5px);
    transition: 250ms ease;
}

#owl-two .owl-nav .owl-next:hover{
    transform: scale(1.2) translateX(-5px);
    transition: 250ms ease;
}

.productCard{
    height: 380px;
    border: 1px solid black;
}

.productCard:hover{
    border: 1px solid #2e2e2e;
    border-radius: 5px;
    transform: scale(.97);
    transition: 350ms ease;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.productCard:hover img{
    transform: scale(.95) rotate(-3deg) translateY(-10px);
    transition: 350ms ease;
}

.productCard p{
    letter-spacing: -1px;
}

.radioCard{
    width: 300px;
    height: 400px;
    /*border: 1px solid black;*/
}

.radioCard:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(.95);
    transition: 350ms ease;
}



