$primary                   : #2e2e2e ;
$secondary                 : #fdb913;
$navbar-nav-link-padding-x :   1.5rem;
$font-family-sans-serif    :'Space Mono', monospace;
$input-border-width        : 1px;
$input-focus-border-color  : none;
$input-focus-box-shadow:none;
$input-border-color: #fff;


$figcaption-bg: rgba(46, 46, 46, 0.5);





@import "../node_modules/imagehover.css/scss/imagehover";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

